{% extends "base.html" %}

{% block headtitle %} | Iniciar sesión{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

        <h1>Iniciar sesión</h1>

        <p>Si aún no has creado una cuenta, por favor <a href="{{ signup_url }}">regístrate</a> primero.</p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="primaryAction" type="submit">Iniciar sesión</button>
        </form>

    </div>
</div>
{% endblock innercontent %}
