<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="user-action-form-wrap">
        <div class="user-action-form-inner">
          <h1>Iniciar sesión</h1>
          <p>Si aún no has creado una cuenta, por favor <a href="./register.html">regístrate</a> primero.</p>
          <form class="login" method="POST" action="#">
            <input type="hidden" name="csrfmiddlewaretoken" value="" />
            <p>
              <label for="id_login">Usuario:</label>
              <input
                type="text"
                name="login"
                id="id_login"
                required=""
                autofocus="autofocus"
                placeholder="Nombre de usuario o correo electrónico"
              />
            </p>
            <p>
              <label for="id_password">Contraseña:</label>
              <input type="password" name="password" id="id_password" required="" placeholder="Contraseña" />
            </p>
            <a class="button secondaryAction" href="./reset-password.html">¿Olvidaste tu contraseña?</a>
            <button class="primaryAction" type="submit">Iniciar sesión</button>
          </form>
        </div>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
