{% extends "base.html" %}
{% load static %}

{% block headtitle %}Mis compras - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
<link href="{% static "css/purchases.css" %}" rel="preload" as="style">
<link href="{% static "css/purchases.css" %}" rel="stylesheet">
{%endblock topimports %}

{% block content %}
{% if user %}<div id="page-purchases"></div>{% endif %}
{% endblock %}

{% block bottomimports %}
<script src="{% static "js/purchases.js" %}"></script>
{% endblock bottomimports %}
