{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

        <title>{% block headtitle %}{{PORTAL_NAME}}{% endblock headtitle %}</title>

        {% include "common/head-meta.html" %}

        {% block headermeta %}
        
        <meta property="og:title" content="{{PORTAL_NAME}}">
        <meta property="og:type" content="website">

        {%endblock headermeta %}

        {% block externallinks %}{% endblock externallinks %}

        {% include "common/head-links.html" %}

        {% block topimports %}{%endblock topimports %}

        {% include "config/index.html" %}

        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//stats.vms.grupoz.cl/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
        
    {% endblock head %}

</head>

<body>

    {% block beforecontent %}{% endblock %}

    <div class="page-main-wrap">
        {% include "messages.html" %}
        {% block content %}{% endblock %}
    </div>

    {% block aftercontent %}{% endblock %}

    {% if LOAD_FROM_CDN %}
    <script src="https://vjs.zencdn.net/7.20.2/video.min.js"></script>
    {% else %}
    <script src="{% static "lib/video-js/7.20.2/video.min.js" %}"></script>
  </body>

    </script>
    {% endif %}

    {% block externalscripts %}{% endblock externalscripts %}

    {% include "common/body-scripts.html" %}

    {% block bottomimports %}{% endblock bottomimports %}

</body>

</html>
